<ion-view>
  <ion-content class="start-page-lexus">
    <div class="start-page-lexus-box">
      <div class="title-lexus">LEXUS RX –  отражение  вашей жизни</div>
      <p class="p-lexus">Узнайте какие преимущества LEXUS RX соответствуют  вашему стилю жизни</p>
      <button class="button button-large button-calm" ng-click="start.socialPopup()">
        войти через соцсеть
      </button>
      <button class="button button-large button-light" ng-click="start.next()">
        начать
      </button>
    </div>
    <div ng-include="'templates/footer_about.html'"></div>
  </ion-content>
</ion-view>
