/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/
/* View < 1200px */
@media (max-width: 1200px) {
  a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    font-size: 100% !important; } }

/* Max width 1024px and orientation: landscape for iPad in landscape */
@media (max-device-width: 1024px) and (orientation: landscape) {
  a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    font-size: 67% !important; } }

/* Design for a width of 768px for iPad in portrait */
@media (max-device-width: 1024px) and (orientation: portrait) {
  a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    font-size: 80% !important; } }

/* Design for a width of 740px for Tablet (Portrait) */
@media only screen and (min-width: 768px) and (max-width: 959px) and (orientation: portrait) {
  a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    font-size: 80% !important; } }

/* Design for a width of 740px for Tablet (landscape) */
@media only screen and (min-width: 768px) and (max-width: 959px) and (orientation: landscape) {
  a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    font-size: 80% !important; } }

/* Design for a width of 640px for Mobile (portrait) */
@media only screen and (min-width: 640px) and (max-width: 767px) and (orientation: portrait) {
  a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    font-size: 77% !important; } }

/* Design for a width of 640px for Mobile (landscape) */
@media only screen and (min-width: 640px) and (max-width: 767px) and (orientation: landscape) {
  a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    font-size: 64% !important; } }

/* Design for a width of 420px for Mobile (portrait) */
@media only screen and (min-width: 601px) and (max-width: 639px) and (orientation: portrait) {
  a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    font-size: 100% !important; } }

/* Design for a width of 420px for Mobile (Landscape) */
@media only screen and (min-width: 601px) and (max-width: 639px) and (orientation: landscape) {
  a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    font-size: 80% !important; } }

/* Mobile width < 600px landscape*/
@media (max-width: 600px) and (orientation: landscape) {
  a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    font-size: 60% !important; } }

/* Mobile width < 600px */
@media (max-width: 600px) and (orientation: portrait) {
  a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    font-size: 71% !important; } }

/* Mobile width < 480px landscape*/
@media (max-width: 480px) and (orientation: landscape) {
  a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    font-size: 61.6% !important; } }

/* Mobile width < 480px */
@media (max-width: 480px) and (orientation: portrait) {
  a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    font-size: 63% !important; } }

/* Mobile width < 360px landscape*/
@media (max-width: 360px) and (orientation: landscape) {
  a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    font-size: 58.4% !important; } }

/* Mobile width < 360px */
@media (max-width: 360px) and (orientation: portrait) {
  a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    font-size: 63% !important; } }

/* Mobile width < 320px landscape*/
@media (max-width: 320px) and (orientation: landscape) {
  a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    font-size: 50.4% !important; } }

/* Mobile width < 320px portrait*/
@media (max-width: 320px) and (orientation: portrait) {
  a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    font-size: 61% !important; } }

/* Mobile width < 240px */
@media (max-width: 240px) and (orientation: portrait) {
  a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    font-size: 43% !important; } }

@font-face {
  font-family: 'favoritextraboldcregular';
  src: url('../fonts/favoritextraboldc-webfont.eot');
  src: url('../fonts/favoritextraboldc-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/favoritextraboldc-webfont.woff2') format('woff2'), url('../fonts/favoritextraboldc-webfont.woff') format('woff'), url('../fonts/favoritextraboldc-webfont.ttf') format('truetype'), url('../fonts/favoritextraboldc-webfont.svg#favoritextraboldcregular') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'FavoritC';
  src: url('../fonts/FavoritC.eot');
  src: url('../fonts/FavoritC.eot?#iefix') format('embedded-opentype'), url('../fonts/FavoritC.woff') format('woff'), url('../fonts/FavoritC.ttf') format('truetype'), url('../fonts/FavoritC.svg#FavoritC') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'FavoritC-Bold';
  src: url('../fonts/FavoritC-Bold.eot');
  src: url('../fonts/FavoritC-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/FavoritC-Bold.woff') format('woff'), url('../fonts/FavoritC-Bold.ttf') format('truetype'), url('../fonts/FavoritC-Bold.svg#FavoritC-Bold') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'FavoritBookC';
  src: url('../fonts/favoritbookc.eot');
  src: url('../fonts/favoritbookc.eot?#iefix') format('embedded-opentype'), url('../fonts/favoritbookc.woff') format('woff'), url('../fonts/favoritbookc.ttf') format('truetype'), url('../fonts/favoritbookc.svg#FavoritBookC') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'favoritheavycregular';
  src: url('../fonts/favoritheavyc-webfont.eot');
  src: url('../fonts/favoritheavyc-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/favoritheavyc-webfont.woff2') format('woff2'), url('../fonts/favoritheavyc-webfont.woff') format('woff'), url('../fonts/favoritheavyc-webfont.ttf') format('truetype'), url('../fonts/favoritheavyc-webfont.svg#favoritheavycregular') format('svg');
  font-weight: normal;
  font-style: normal; }

.popup-title {
  font-size: 10em !important; }

.popup-sub-title {
  font-size: 8em !important; }

.menu-lexus {
  font-family: "FavoritC";
  font-weight: 100;
  position: relative;
  margin-bottom: -44px;
  margin-top: 44px;
  font-size: 5em !important;
  letter-spacing: .13em;
  text-transform: uppercase;
  color: #333333;
  z-index: 9999; }

.bar-header {
  background: #1e1e1e;
  background-image: none !important;
  padding: 10px !important;
  font-family: "FavoritC"; }
  .bar-header .navicon-lexus {
    width: 50px;
    margin-left: 12px;
    background-image: url(../img/Lexus_Navicon.png);
    background-size: contain;
    background-repeat: no-repeat; }
  .bar-header .logo-lexus {
    margin: 10px 12px 0 0;
    width: 100px;
    background-image: url(../img/Logo_Lexus.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent !important;
    border: none; }

.loading-container .item-icon-left {
  font-size: 4.5em !important;
  line-height: 2.7em;
  margin: 0; }
.loading-container ion-spinner {
  float: left;
  line-height: 0; }

.zaglushka {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/zaglushka.jpg);
  background-size: cover;
  z-index: 10000; }

.has-header {
  top: 45px;
  background-color: black;
  font-family: "FavoritC"; }
  .has-header.start-page-lexus .start-page-lexus-box {
    padding: 20px;
    background-image: url(../img/back_start.jpg);
    background-size: 182%;
    background-position: center bottom;
    background-repeat: no-repeat;
    height: 100%; }
    .has-header.start-page-lexus .start-page-lexus-box .title-lexus {
      font-size: 23em !important;
      line-height: 1.2em;
      font-family: 'FavoritC-Bold';
      color: #fff;
      text-transform: uppercase;
      word-spacing: .1em;
      letter-spacing: -.08em; }
    .has-header.start-page-lexus .start-page-lexus-box .p-lexus {
      color: #fff;
      margin: .6em 0 .9em;
      font-size: 7em !important;
      line-height: 1.8em;
      border-top: 1px solid #999;
      border-bottom: 1px solid #999;
      padding: .4em 0 1.5em; }
  .has-header.quest-page-lexus {
    background-color: #191919; }
    .has-header.quest-page-lexus .quest-page-header-background {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      background-size: contain;
      background-repeat: no-repeat;
      height: 463px;
      z-index: 0; }
    .has-header.quest-page-lexus .quest-page-header {
      position: relative;
      width: 100%;
      background-size: 100%;
      background-position: center center;
      background-repeat: no-repeat;
      height: 160px;
      z-index: 10; }
      .has-header.quest-page-lexus .quest-page-header.man_1 {
        background-image: url(../public/result/adv/man/1.jpg); }
      .has-header.quest-page-lexus .quest-page-header.man_2 {
        background-image: url(../public/result/adv/man/2.jpg); }
      .has-header.quest-page-lexus .quest-page-header.man_3 {
        background-image: url(../public/result/adv/man/3.jpg); }
      .has-header.quest-page-lexus .quest-page-header.man_4 {
        background-image: url(../public/result/adv/man/4.jpg); }
      .has-header.quest-page-lexus .quest-page-header.man_5 {
        background-image: url(../public/result/adv/man/5.jpg); }
      .has-header.quest-page-lexus .quest-page-header.man_6 {
        background-image: url(../public/result/adv/man/6.jpg); }
      .has-header.quest-page-lexus .quest-page-header.man_7 {
        background-image: url(../public/result/adv/man/7.jpg); }
      .has-header.quest-page-lexus .quest-page-header .quest-page-header-avatar {
        position: absolute;
        top: 10px;
        left: 20px;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: black;
        background-size: 100%;
        background-position: center center;
        background-repeat: no-repeat; }
        .has-header.quest-page-lexus .quest-page-header .quest-page-header-avatar .quest-page-header-counter {
          position: absolute;
          top: 32px;
          left: 32px;
          height: 30px;
          width: 30px;
          border-radius: 50%;
          background-color: white;
          text-align: center;
          color: #171510;
          font: 13px/31px 'favoritheavycregular', sans-serif !important; }
    .has-header.quest-page-lexus .quest-page-quations-box {
      position: relative;
      margin: 0 10px 15px 10px;
      background-color: #2a2929;
      padding-bottom: 25px;
      overflow: hidden;
      min-height: 310px; }
      .has-header.quest-page-lexus .quest-page-quations-box .item-content {
        white-space: normal; }
    .has-header.quest-page-lexus .quations-box-title {
      color: #fff;
      text-align: center;
      font-size: 12em !important;
      padding: 1em 0 .7em;
      margin: 1em 2em;
      display: block;
      text-transform: uppercase;
      font-weight: 100;
      letter-spacing: .08em;
      border-bottom: 1px solid #6e6a5e; }
    .has-header.quest-page-lexus .quations-box-quations {
      border: none;
      background-color: transparent;
      color: white;
      font-size: 20em !important; }
      .has-header.quest-page-lexus .quations-box-quations .item-content {
        background-color: transparent;
        padding: .8em 3em .7em 5.4em; }
      .has-header.quest-page-lexus .quations-box-quations .radio-icon {
        right: auto;
        visibility: visible;
        width: 1.4em;
        height: 1.4em;
        border-radius: 50%;
        background-color: #fff;
        padding: 0;
        top: .8em;
        left: 3em;
        -webkit-transform: scale(1.1);
                transform: scale(1.1);
        border: none; }
      .has-header.quest-page-lexus .quations-box-quations input:checked ~ .radio-icon {
        -webkit-transform: scale(1);
                transform: scale(1);
        background-color: #ded7b8;
        border: .35em solid #000; }
      .has-header.quest-page-lexus .quations-box-quations .quations-checkbox-icon {
        position: absolute;
        visibility: visible;
        width: 1.6em;
        height: 1.6em;
        background-color: #fff;
        padding: 0;
        top: .6em;
        left: 3em;
        border: none; }
      .has-header.quest-page-lexus .quations-box-quations input:checked ~ .quations-checkbox-icon {
        background-color: black; }
        .has-header.quest-page-lexus .quations-box-quations input:checked ~ .quations-checkbox-icon:after {
          content: "\f122";
          color: #ded7b8;
          font-family: "Ionicons";
          padding: 0.4em; }
    .has-header.quest-page-lexus .quest-page-info {
      position: relative;
      display: inline-block;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
      margin-bottom: 15px; }
      .has-header.quest-page-lexus .quest-page-info .quest-page-info-item {
        width: 3px;
        height: 3px;
        border-radius: 50%;
        background-color: #fff;
        display: inline-block;
        vertical-align: middle;
        margin: 7px; }
        .has-header.quest-page-lexus .quest-page-info .quest-page-info-item.active {
          width: 7px;
          height: 7px; }
    .has-header.quest-page-lexus .quest-page-loc {
      position: absolute;
      top: 42%;
      width: 60px;
      z-index: 9999; }
      .has-header.quest-page-lexus .quest-page-loc.prev {
        left: -24px; }
        .has-header.quest-page-lexus .quest-page-loc.prev .quest-page-loc-button {
          background-color: #33322e; }
        .has-header.quest-page-lexus .quest-page-loc.prev .icon {
          color: white;
          right: 20px; }
      .has-header.quest-page-lexus .quest-page-loc.next {
        right: 2px;
        width: 40px;
        height: 49px; }
        .has-header.quest-page-lexus .quest-page-loc.next.disabled .quest-page-loc-button {
          background-color: #33322e; }
        .has-header.quest-page-lexus .quest-page-loc.next.disabled .icon {
          color: white; }
        .has-header.quest-page-lexus .quest-page-loc.next .quest-page-loc-button {
          background-color: #e8e9ee; }
          .has-header.quest-page-lexus .quest-page-loc.next .quest-page-loc-button.next {
            margin-left: 17px; }
        .has-header.quest-page-lexus .quest-page-loc.next .icon {
          color: black;
          left: 25px; }
      .has-header.quest-page-lexus .quest-page-loc .quest-page-loc-button {
        width: 50px;
        height: 50px;
        -webkit-transform: rotate(45deg);
                transform: rotate(45deg); }
      .has-header.quest-page-lexus .quest-page-loc .icon {
        position: absolute;
        top: 50%;
        font-size: 7em !important;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%); }
  .has-header.result-page-lexus {
    background-color: #191919; }
    .has-header.result-page-lexus .result-page-header-background {
      position: absolute;
      top: -40px;
      left: 0;
      width: 100%;
      background-size: cover;
      background-position: center top;
      height: 250px;
      background-repeat: no-repeat;
      z-index: 0; }
    .has-header.result-page-lexus .result-page-header {
      position: relative;
      width: 100%;
      background-size: contain;
      height: 140px;
      background-repeat: no-repeat;
      margin-top: 40px;
      z-index: 10; }
    .has-header.result-page-lexus .result-carcolor-menu {
      position: absolute;
      top: -30px;
      left: 30px;
      white-space: nowrap;
      z-index: 100; }
      .has-header.result-page-lexus .result-carcolor-menu.open .result-carcolor-menu-item {
        margin-right: 20px; }
      .has-header.result-page-lexus .result-carcolor-menu .result-carcolor-menu-item {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        margin-left: -15px;
        float: right;
        overflow: hidden;
        -webkit-transform: rotate(45deg);
                transform: rotate(45deg); }
        .has-header.result-page-lexus .result-carcolor-menu .result-carcolor-menu-item:after {
          content: '';
          width: 45%;
          height: 100%;
          background-color: rgba(255, 255, 255, 0.5);
          display: block; }
    .has-header.result-page-lexus .result-page-main-box {
      position: relative;
      margin: -15px 10px 15px 10px;
      background-color: #2a2929;
      padding: 25px 0;
      overflow: hidden; }
      .has-header.result-page-lexus .result-page-main-box .result-box-title {
        font-size: 19em !important;
        line-height: 1.2em;
        font-family: 'FavoritC-Bold';
        color: #fff;
        /*text-transform: uppercase;*/
        word-spacing: .1em;
        letter-spacing: -.08em;
        margin: 0 25px; }
      .has-header.result-page-lexus .result-page-main-box .result-p-box {
        border-top: 1px solid #a09a8c;
        margin: 10px 25px;
        padding: 10px 0;
        position: relative; }
        .has-header.result-page-lexus .result-page-main-box .result-p-box .result-page-header-avatar {
          position: absolute;
          top: 10px;
          left: 0;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          background-color: black;
          background-size: 100%;
          background-position: center center;
          background-repeat: no-repeat; }
        .has-header.result-page-lexus .result-page-main-box .result-p-box .result-p {
          color: #a09a8c;
          font-size: 12em !important;
          line-height: 2em;
          margin-left: 80px; }
          .has-header.result-page-lexus .result-page-main-box .result-p-box .result-p span {
            color: white;
            font-size: inherit !important; }
      .has-header.result-page-lexus .result-page-main-box .result-button-box {
        margin: 0 25px; }
    .has-header.result-page-lexus .result-page-text-box {
      position: relative;
      margin: 15px 30px;
      overflow: hidden; }
      .has-header.result-page-lexus .result-page-text-box .item {
        background-color: transparent;
        border-color: #a09a8c; }
        .has-header.result-page-lexus .result-page-text-box .item:first-of-type {
          border-top: none; }
        .has-header.result-page-lexus .result-page-text-box .item:last-of-type {
          border-bottom: none; }
        .has-header.result-page-lexus .result-page-text-box .item p {
          white-space: normal;
          font-size: 20em !important;
          color: #a09a8c; }
          .has-header.result-page-lexus .result-page-text-box .item p span {
            font-size: 100% !important; }
          .has-header.result-page-lexus .result-page-text-box .item p span.friend-name {
            color: white;
            font-size: inherit !important; }
        .has-header.result-page-lexus .result-page-text-box .item img {
          border-radius: 50%; }
        .has-header.result-page-lexus .result-page-text-box .item .result-page-text-box-avatar {
          width: 25px;
          height: 25px; }
    .has-header.result-page-lexus .result-page-button-box {
      position: relative;
      padding: 10px 30px;
      background-color: white;
      overflow: hidden; }
    .has-header.result-page-lexus .result-page-ksp-box {
      position: relative;
      padding: 10px 30px;
      background-color: #f2f2f2;
      overflow: hidden;
      margin-top: -1px; }
      .has-header.result-page-lexus .result-page-ksp-box .title-ksp {
        font-size: 18em !important;
        line-height: 1.2em;
        font-family: favoritextraboldcregular;
        color: #000;
        text-transform: uppercase;
        word-spacing: .1em;
        letter-spacing: -.08em;
        margin-top: 15px; }
      .has-header.result-page-lexus .result-page-ksp-box .check-ksp {
        padding: 3px 0 5px;
        border-top: 1px solid #e1e1e1;
        border-bottom: 1px solid #e1e1e1;
        margin: 10px 0; }
        .has-header.result-page-lexus .result-page-ksp-box .check-ksp .item {
          background-color: transparent;
          border: none; }
          .has-header.result-page-lexus .result-page-ksp-box .check-ksp .item .item-content {
            background-color: transparent;
            font-size: 38em !important;
            padding: 5px 0 5px 26px; }
          .has-header.result-page-lexus .result-page-ksp-box .check-ksp .item .ksp-checkbox-icon {
            position: absolute;
            visibility: visible;
            width: 21px;
            height: 21px;
            background-color: #fff;
            top: 5px;
            border: 1px solid #e1e1e1; }
          .has-header.result-page-lexus .result-page-ksp-box .check-ksp .item input:checked ~ .ksp-checkbox-icon {
            background-color: black; }
            .has-header.result-page-lexus .result-page-ksp-box .check-ksp .item input:checked ~ .ksp-checkbox-icon:after {
              content: "\f122";
              color: #ded7b8;
              font-family: "Ionicons";
              padding: 0.3em;
              font-size: 54em !important; }
      .has-header.result-page-lexus .result-page-ksp-box .items-ksp {
        width: 100%; }
        .has-header.result-page-lexus .result-page-ksp-box .items-ksp .item-ksp {
          outline: #e1e1e1 solid 1px;
          background-color: #fff;
          width: 100%;
          margin: 20px 0; }
          .has-header.result-page-lexus .result-page-ksp-box .items-ksp .item-ksp .item-ksp-video {
            width: 100%;
            margin-bottom: 5px; }
          .has-header.result-page-lexus .result-page-ksp-box .items-ksp .item-ksp .item-ksp-image {
            width: 100%;
            margin-bottom: 5px; }
          .has-header.result-page-lexus .result-page-ksp-box .items-ksp .item-ksp .item-ksp-title {
            margin: 0 20px;
            font-weight: bold;
            border-bottom: 1px solid #e1e1e1;
            padding: 10px 0;
            font-size: 21em !important; }
          .has-header.result-page-lexus .result-page-ksp-box .items-ksp .item-ksp .item-ksp-desc {
            margin: 0 20px;
            font-size: 21em !important;
            line-height: 1.5em;
            padding: 10px 0 30px;
            color: #a09a8c; }
  .has-header .scroll {
    height: 85%; }
  .has-header .footer-about-lexus {
    position: relative;
    top: 100%;
    width: 100%;
    background-color: #eaeaea;
    color: #333;
    padding: 2em 3em; }
    .has-header .footer-about-lexus .item {
      border: none;
      background-color: #eaeaea;
      font-size: 15em !important;
      line-height: 0.3em;
      padding: .75em; }
      .has-header .footer-about-lexus .item a {
        color: #333;
        text-decoration: none; }
  .has-header .button {
    text-transform: uppercase;
    border-radius: 0;
    letter-spacing: .2em;
    font-size: 5em !important;
    line-height: 1em;
    margin-right: 1.4em;
    border: none;
    font-family: FavoritC;
    font-weight: 200;
    min-height: 0;
    padding: 1.8em 1.3em; }
    .has-header .button.button-large {
      padding: 3.2em 3.3em; }
    .has-header .button.button-calm {
      background-color: #2776c5; }
    .has-header .button.button-light {
      border: 1px solid #e1e1e1; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.button-vk {
  background: #1276a9 url(../img/vk-button.jpg) 0 50% no-repeat;
  color: #fff; }

.button-fb {
  background: #0062a9 url(../img/fb-button.jpg) 0 50% no-repeat;
  color: #fff; }
